[submodule "submodule/json-rpc"]
	path = submodule/json-rpc
	url = https://github.com/jsonrpcx/json-rpc-cxx.git
[submodule "submodule/httplib"]
	path = submodule/httplib
	url = https://github.com/yhirose/cpp-httplib.git
